# Facebook

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
ROOT_DIR = os.path.dirname(os.path.abspath("../../setup.py"))
DATA_DIR = os.path.join(ROOT_DIR, "data")
os.path.join(ROOT_DIR, "data")

'/home/jayascript/Code/jayascript/monthly_reporting/data'

## Data Entry: Page Level

In [4]:
file = f"{DATA_DIR}/raw/facebook/nichifu-2020-10_facebook-page-level.csv"
assert os.path.exists(file)

In [5]:
df = pd.read_csv(file)

In [6]:
df.head()

,Date,Lifetime Total Likes,Daily New Likes,Daily Unlikes,Daily Page Engaged Users,Weekly Page Engaged Users,28 Days Page Engaged Users,Daily Total Reach,Weekly Total Reach,28 Days Total Reach,...,Weekly Total web site click count per Page by age and gender - 55-64.U,Weekly Total web site click count per Page by age and gender - 65+.F,Weekly Total web site click count per Page by age and gender - 65+.M,Weekly Total web site click count per Page by age and gender - 65+.U,Weekly Total web site click count per Page by age and gender - &lt;13.F,Weekly Total web site click count per Page by age and gender - &lt;13.M,Weekly Total web site click count per Page by age and gender - &lt;13.U,Weekly Total web site click count per Page by age and gender - UNKNOWN.F,Weekly Total web site click count per Page by age and gender - UNKNOWN.M,Weekly Total web site click count per Page by age and gender - UNKNOWN.U
0,NaN,Lifetime: The total number of people who have ...,Daily: The number of new people who have liked...,Daily: The number of Unlikes of your Page (Uni...,Daily: The number of people who engaged with y...,Weekly: The number of people who engaged with ...,28 Days: The number of people who engaged with...,Daily: The number of people who had any conten...,Weekly: The number of people who had any conte...,28 Days: The number of people who had any cont...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-10-01,175,NaN,NaN,4,9,12,4,16,65,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-10-02,175,NaN,NaN,6,8,12,7,14,61,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-10-03,175,NaN,NaN,NaN,8,12,1,14,58,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-10-04,175,NaN,NaN,1,8,12,2,12,57,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df.drop(0, 0, inplace=True)

In [8]:
df = df.fillna(0.0)

### New followers

In [9]:
np.sum(pd.to_numeric(df["Daily New Likes"])) + np.sum(pd.to_numeric(df["Daily Unlikes"]))

1.0

### Clicks

In [10]:
click_cols = [col for col in df.columns if 'Daily Page Consumptions By Type' in col]
print(click_cols)

['Daily Page Consumptions By Type - button clicks', 'Daily Page Consumptions By Type - link clicks', 'Daily Page Consumptions By Type - other clicks', 'Daily Page Consumptions By Type - photo view', 'Daily Page Consumptions By Type - video play']

In [11]:
total_clicks = 0

for col in click_cols:
    total_clicks += np.sum(pd.to_numeric(df[col]))
    
total_clicks

9.0

### Comments

In [12]:
np.sum(pd.to_numeric(df["Daily Positive Feedback From Users - comment"]))

0.0

## Data Entry: Post Level

In [13]:
file = f"{DATA_DIR}/raw/facebook/nichifu-2020-10_facebook-insights-post-level.csv"
assert os.path.exists(file)

In [14]:
df_post = pd.read_csv(file)

In [15]:
df_post.head()

,Post ID,Permalink,Post Message,Type,Countries,Languages,Posted,Audience Targeting,Lifetime Post Total Reach,Lifetime Post organic reach,...,Lifetime Average time video viewed,Lifetime Video length,Lifetime Talking About This (Post) by action type - like,Lifetime Post Stories by action type - like,Lifetime Post Audience Targeting Unique Consumptions by Type - link clicks,Lifetime Post Audience Targeting Unique Consumptions by Type - other clicks,Lifetime Matched Audience Targeting Consumptions by Type - link clicks,Lifetime Matched Audience Targeting Consumptions by Type - other clicks,Lifetime Negative Feedback from Users by Type - hide_all_clicks,Lifetime Negative Feedback by Type - hide_all_clicks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lifetime: The number of people who had your Pa...,Lifetime: The number of people who had your Pa...,...,Lifetime: Average time video viewed (Total Count),Lifetime: Length of a video post (Total Count),Lifetime: The number of unique people who crea...,Lifetime: The number of stories created about ...,Lifetime: The number of people who matched the...,NaN,Lifetime: The number of clicks anywhere in the...,NaN,Lifetime: The number of times people have give...,Lifetime: The number of people who have given ...
1,597212727095362_1761492040667419,https://www.facebook.com/NichifuGroup/posts/17...,&quot;A possible remedy for traditional constr...,Link,NaN,NaN,10/31/2020 01:00:28 PM,,4,4,...,0,0,4,4,NaN,NaN,NaN,NaN,NaN,NaN
2,597212727095362_1760623600754263,https://www.facebook.com/NichifuGroup/photos/a...,The Nichifu 1.25Y-3.5 Non-Insulated Spade Term...,Photo,NaN,NaN,10/30/2020 03:35:00 PM,,8,8,...,0,0,5,5,NaN,NaN,NaN,NaN,NaN,NaN
3,597212727095362_1759510567532233,https://www.facebook.com/NichifuGroup/posts/17...,The Nichifu Plug-Joint-Connector is especially...,Link,NaN,NaN,10/29/2020 01:00:38 PM,,5,5,...,0,0,5,5,1,NaN,2,NaN,NaN,NaN
4,597212727095362_1755489201267703,https://www.facebook.com/NichifuGroup/posts/17...,&quot;Solar energy is poised for what could be...,Link,NaN,NaN,10/25/2020 02:00:18 PM,,10,10,...,0,0,5,5,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df_post.drop(0, 0, inplace=True)

In [17]:
df_post = df_post.fillna(0.0)

### Posts

In [18]:
df_post.shape[0]

15

### Impressions

In [19]:
np.sum(pd.to_numeric(df_post["Lifetime Post Total Impressions"]))

236

### Likes

In [20]:
np.sum(pd.to_numeric(df_post["Lifetime Post Stories by action type - like"]))

75

## Demographics: Page Data

### Age

Find “Lifetime Likes by Gender and Age” columns & locate values in last cell

In [21]:
age_cols = [col for col in df.columns if 'Lifetime Likes by Gender and Age' in col]
print(age_cols)

['Lifetime Likes by Gender and Age - F.18-24', 'Lifetime Likes by Gender and Age - F.25-34', 'Lifetime Likes by Gender and Age - F.35-44', 'Lifetime Likes by Gender and Age - F.45-54', 'Lifetime Likes by Gender and Age - F.55-64', 'Lifetime Likes by Gender and Age - F.65+', 'Lifetime Likes by Gender and Age - M.18-24', 'Lifetime Likes by Gender and Age - M.25-34', 'Lifetime Likes by Gender and Age - M.35-44', 'Lifetime Likes by Gender and Age - M.45-54', 'Lifetime Likes by Gender and Age - M.55-64', 'Lifetime Likes by Gender and Age - M.65+']

In [22]:
df[age_cols].iloc[-1,:]

Lifetime Likes by Gender and Age - F.18-24     1
Lifetime Likes by Gender and Age - F.25-34     6
Lifetime Likes by Gender and Age - F.35-44     9
Lifetime Likes by Gender and Age - F.45-54     9
Lifetime Likes by Gender and Age - F.55-64     8
Lifetime Likes by Gender and Age - F.65+       3
Lifetime Likes by Gender and Age - M.18-24     5
Lifetime Likes by Gender and Age - M.25-34    22
Lifetime Likes by Gender and Age - M.35-44    33
Lifetime Likes by Gender and Age - M.45-54    42
Lifetime Likes by Gender and Age - M.55-64    25
Lifetime Likes by Gender and Age - M.65+      10
Name: 31, dtype: object

### Country

* Find “Lifetime Likes by Country” columns & copy to new sheet
* Remove all but header and last rows and transpose dataframe
* Sort by descending, then alphabetical order
* Enter up to 5 countries

In [23]:
country_cols = [col for col in df.columns if 'Lifetime Likes by Country' in col]
print(country_cols)

['Lifetime Likes by Country - AU', 'Lifetime Likes by Country - CA', 'Lifetime Likes by Country - CN', 'Lifetime Likes by Country - ES', 'Lifetime Likes by Country - GB', 'Lifetime Likes by Country - GH', 'Lifetime Likes by Country - ID', 'Lifetime Likes by Country - IN', 'Lifetime Likes by Country - JP', 'Lifetime Likes by Country - KE', 'Lifetime Likes by Country - MX', 'Lifetime Likes by Country - NG', 'Lifetime Likes by Country - OM', 'Lifetime Likes by Country - PH', 'Lifetime Likes by Country - PR', 'Lifetime Likes by Country - TH', 'Lifetime Likes by Country - TW', 'Lifetime Likes by Country - UG', 'Lifetime Likes by Country - US', 'Lifetime Likes by Country - VN', 'Lifetime Likes by Country - ZA']

In [24]:
index = df[country_cols].iloc[-1,:].name

In [25]:
results = pd.to_numeric(df[country_cols].iloc[-1,:]).sort_values(ascending=False)

In [26]:
results = pd.DataFrame(results).reset_index().iloc[:5]

In [27]:
countries = list(results["index"])
shortened = [country[-2:] for country in countries]
results["index"] = shortened

In [28]:
results

  index     31
0    US  125.0
1    MX   21.0
2    CA    4.0
3    PH    3.0
4    TW    2.0