In [1]:
import re
import os

In [2]:
import pandas as pd

In [3]:
import sys
import subprocess

In [27]:
def translate(word):
    result = subprocess.run(
    ["trans", ":ja", f"'{word}'"], capture_output=True, text=True
    ).stdout
    translation = re.findall(
        '\「(.*?)\」', result
    )
    return translation[-1]

In [18]:
ROOT_DIR = os.path.dirname(os.path.abspath("../README.md"))
DATA_DIR = os.path.join(ROOT_DIR, "data/linkedin")

In [19]:
df = pd.read_excel(f"{DATA_DIR}/jotovent-2020-10_visitors.xls", sheet_name=[1])

In [20]:
df[1].insert(1, 'Location (JP)', '')

In [28]:
df[1]['Location'].apply(lambda x: translate(x))

0        グレーター・ニューヨークシティエリア
1           ポートランド、オレゴン州エリア
2              グレーターシアトルエリア
3          カンザスシティ、ミズーリ州エリア
4    ローリー・ダーラム、ノースカロライナ州エリア
5              キッチナー、カナダエリア
6             ブラジル、サンパウロエリア
7         地域VII-中央ビサヤ、フィリピン
Name: Location, dtype: object

In [117]:
df[1]['Location (JP)'] = df[1]['Location'].apply(lambda x: get_japanese_word(dictionary, x))

In [118]:
df[1]

,Location,Location (JP),Total views
0,Greater New York City Area,グレーター・ニューヨークシティエリア,4
1,"Portland, Oregon Area",ポートランド、オレゴン州エリア,2
2,Greater Seattle Area,グレーターシアトルエリア,62
3,"Kansas City, Missouri Area",カンザスシティ、ミズーリ州エリア,2
4,"Raleigh-Durham, North Carolina Area",ローリー・ダーラム、ノースカロライナ州エリア,2
5,"Kitchener, Canada Area",キッチナー、カナダエリア,5
6,"São Paulo Area, Brazil",ブラジル、サンパウロエリア,4
7,"Region VII - Central Visayas, Philippines",地域VII-中央ビサヤ、フィリピン,1

In [113]:
dictionary = pd.read_csv(f"{DATA_DIR}/../dictionary.csv")

In [114]:
dictionary.tail()

                  English      Japanese
0                Japanese           日本語
1    Shanghai City, China        中国、上海市
2  Kitchener, Canada Area  キッチナー、カナダエリア

In [110]:
test = "Kitchener, Canada Area"

In [111]:
def get_japanese_word(dictionary, word):
    if word in dictionary['English'].values:
        loc = dictionary.loc[dictionary["English"] == word]["Japanese"].index[0]
        return dictionary.loc[dictionary["English"] == word].iloc[:,1][loc]
    else:
        translation = translate(word)
        with open(f"{DATA_DIR}/../dictionary.csv", 'a+', newline ='') as f:    
            write = csv.writer(f) 
            write.writerow([word, translation]) 
        return translation

In [112]:
get_japanese_word(dictionary, test)

'キッチナー、カナダエリア'

In [76]:
import csv

In [119]:
df[1]

,Location,Location (JP),Total views
0,Greater New York City Area,グレーター・ニューヨークシティエリア,4
1,"Portland, Oregon Area",ポートランド、オレゴン州エリア,2
2,Greater Seattle Area,グレーターシアトルエリア,62
3,"Kansas City, Missouri Area",カンザスシティ、ミズーリ州エリア,2
4,"Raleigh-Durham, North Carolina Area",ローリー・ダーラム、ノースカロライナ州エリア,2
5,"Kitchener, Canada Area",キッチナー、カナダエリア,5
6,"São Paulo Area, Brazil",ブラジル、サンパウロエリア,4
7,"Region VII - Central Visayas, Philippines",地域VII-中央ビサヤ、フィリピン,1

In [120]:
from tabulate import tabulate

In [128]:
print(tabulate(df[1], headers="keys"))

    Location                                   Location (JP)                                   Total views
--  -----------------------------------------  --------------------------------------------  -------------
 0  Greater New York City Area                 グレーター・ニューヨークシティエリア                      4
 1  Portland, Oregon Area                      ポートランド、オレゴン州エリア                            2
 2  Greater Seattle Area                       グレーターシアトルエリア                                 62
 3  Kansas City, Missouri Area                 カンザスシティ、ミズーリ州エリア                          2
 4  Raleigh-Durham, North Carolina Area        ローリー・ダーラム、ノースカロライナ州エリア              2
 5  Kitchener, Canada Area                     キッチナー、カナダエリア                                  5
 6  São Paulo Area, Brazil                     ブラジル、サンパウロエリア                                4
 7  Region VII - Central Visayas, Philippines  地域VII-中央ビサヤ、フィリピン                            1