# Google Ads

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
ROOT_DIR = os.path.dirname(os.path.abspath("../../setup.py"))
DATA_DIR = os.path.join(ROOT_DIR, "data")
os.path.join(ROOT_DIR, "data")

'/home/jayascript/Code/jayascript/monthly_reporting/data'

## Data Entry: Page Level

In [4]:
file = f"{DATA_DIR}/raw/ads/Nichifu September Search keyword report.csv"
assert os.path.exists(file)

In [5]:
df = pd.read_csv(file)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 18

In [6]:
df.head()

NameError: name 'df' is not defined

In [6]:
df.drop(0, 0, inplace=True)

In [7]:
df = df.fillna(0.0)

### New followers

In [8]:
np.sum(pd.to_numeric(df["Daily New Likes"])) + np.sum(pd.to_numeric(df["Daily Unlikes"]))

3.0

### Clicks

In [9]:
click_cols = [col for col in df.columns if 'Daily Page Consumptions By Type' in col]
print(click_cols)

['Daily Page Consumptions By Type - button clicks', 'Daily Page Consumptions By Type - link clicks', 'Daily Page Consumptions By Type - other clicks', 'Daily Page Consumptions By Type - photo view', 'Daily Page Consumptions By Type - video play']

In [10]:
total_clicks = 0

for col in click_cols:
    total_clicks += np.sum(pd.to_numeric(df[col]))
    
total_clicks

5.0

### Comments

In [11]:
np.sum(pd.to_numeric(df["Daily Positive Feedback From Users - comment"]))

0.0

## Data Entry: Post Level

In [12]:
file = f"{DATA_DIR}/raw/facebook/company1_facebook-insights-post-level.csv"
assert os.path.exists(file)

In [13]:
df_post = pd.read_csv(file)

In [14]:
df_post.head()

,Post ID,Permalink,Post Message,Type,Countries,Languages,Posted,Audience Targeting,Lifetime Post Total Reach,Lifetime Post organic reach,...,Lifetime Paid Video Views,Lifetime Paid Video Views.1,Lifetime Average time video viewed,Lifetime Video length,Lifetime Talking About This (Post) by action type - like,Lifetime Post Stories by action type - like,Lifetime Post Audience Targeting Unique Consumptions by Type - link clicks,Lifetime Post Audience Targeting Unique Consumptions by Type - other clicks,Lifetime Matched Audience Targeting Consumptions by Type - link clicks,Lifetime Matched Audience Targeting Consumptions by Type - other clicks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lifetime: The number of people who had your Pa...,Lifetime: The number of people who had your Pa...,...,Lifetime: Number of times your video was viewe...,Lifetime: Number of times your video was viewe...,Lifetime: Average time video viewed (Total Count),Lifetime: Length of a video post (Total Count),Lifetime: The number of unique people who crea...,Lifetime: The number of stories created about ...,Lifetime: The number of people who matched the...,NaN,Lifetime: The number of clicks anywhere in the...,NaN
1,597212727095362_1728839350599355,https://www.facebook.com/NichifuGroup/posts/17...,&quot;Offices will probably never look the sam...,Link,NaN,NaN,09/27/2020 12:45:00 PM,,8,8,...,0,0,0,0,5,5,1,NaN,1,NaN
2,597212727095362_1727002300783060,https://www.facebook.com/NichifuGroup/photos/a...,‚ö° Quick\nüîí Lock\n‚û∞ Connectors\n\nLearn more ab...,Photo,NaN,NaN,09/25/2020 01:00:47 PM,,8,8,...,0,0,0,0,5,5,NaN,1.0,NaN,1.0
3,597212727095362_1726156080867682,https://www.facebook.com/NichifuGroup/photos/a...,üì∏ Pictured: Nichifu Fully-Insulated Female/Mal...,Photo,NaN,NaN,09/24/2020 03:00:49 PM,,11,11,...,0,0,0,0,5,5,NaN,NaN,NaN,NaN
4,597212727095362_1722350954581528,https://www.facebook.com/NichifuGroup/posts/17...,&quot;Less than one percent of earth‚Äôs water i...,Link,NaN,NaN,09/20/2020 12:20:00 PM,,25,25,...,0,0,0,0,5,5,NaN,NaN,NaN,NaN

In [15]:
df_post.drop(0, 0, inplace=True)

In [16]:
df_post = df_post.fillna(0.0)

### Posts

In [17]:
df_post.shape[0]

12

### Impressions

In [18]:
np.sum(pd.to_numeric(df_post["Lifetime Post Total Impressions"]))

207

### Likes

In [19]:
np.sum(pd.to_numeric(df_post["Lifetime Post Stories by action type - like"]))

61

## Demographics: Page Data

### Age

Find ‚ÄúLifetime Likes by Gender and Age‚Äù columns & locate values in last cell

In [20]:
age_cols = [col for col in df.columns if 'Lifetime Likes by Gender and Age' in col]
print(age_cols)

['Lifetime Likes by Gender and Age - F.18-24', 'Lifetime Likes by Gender and Age - F.25-34', 'Lifetime Likes by Gender and Age - F.35-44', 'Lifetime Likes by Gender and Age - F.45-54', 'Lifetime Likes by Gender and Age - F.55-64', 'Lifetime Likes by Gender and Age - F.65+', 'Lifetime Likes by Gender and Age - M.18-24', 'Lifetime Likes by Gender and Age - M.25-34', 'Lifetime Likes by Gender and Age - M.35-44', 'Lifetime Likes by Gender and Age - M.45-54', 'Lifetime Likes by Gender and Age - M.55-64', 'Lifetime Likes by Gender and Age - M.65+']

In [23]:
df[age_cols].iloc[-1,:]

Lifetime Likes by Gender and Age - F.18-24     1
Lifetime Likes by Gender and Age - F.25-34     7
Lifetime Likes by Gender and Age - F.35-44     9
Lifetime Likes by Gender and Age - F.45-54     9
Lifetime Likes by Gender and Age - F.55-64     8
Lifetime Likes by Gender and Age - F.65+       3
Lifetime Likes by Gender and Age - M.18-24     5
Lifetime Likes by Gender and Age - M.25-34    22
Lifetime Likes by Gender and Age - M.35-44    34
Lifetime Likes by Gender and Age - M.45-54    42
Lifetime Likes by Gender and Age - M.55-64    25
Lifetime Likes by Gender and Age - M.65+      10
Name: 30, dtype: object

### Country

* Find ‚ÄúLifetime Likes by Country‚Äù columns & copy to new sheet
* Remove all but header and last rows and transpose dataframe
* Sort by descending, then alphabetical order
* Enter up to 5 countries

In [24]:
country_cols = [col for col in df.columns if 'Lifetime Likes by Country' in col]
print(country_cols)

['Lifetime Likes by Country - AU', 'Lifetime Likes by Country - CA', 'Lifetime Likes by Country - CN', 'Lifetime Likes by Country - ES', 'Lifetime Likes by Country - GB', 'Lifetime Likes by Country - GH', 'Lifetime Likes by Country - ID', 'Lifetime Likes by Country - IN', 'Lifetime Likes by Country - JP', 'Lifetime Likes by Country - KE', 'Lifetime Likes by Country - MX', 'Lifetime Likes by Country - NG', 'Lifetime Likes by Country - OM', 'Lifetime Likes by Country - PH', 'Lifetime Likes by Country - PR', 'Lifetime Likes by Country - TH', 'Lifetime Likes by Country - TW', 'Lifetime Likes by Country - UG', 'Lifetime Likes by Country - US', 'Lifetime Likes by Country - VN', 'Lifetime Likes by Country - ZA']

In [39]:
index = df[country_cols].iloc[-1,:].name

In [46]:
results = pd.to_numeric(df[country_cols].iloc[-1,:]).sort_values(ascending=False)

In [52]:
results = pd.DataFrame(results).reset_index().iloc[:5]

In [61]:
countries = list(results["index"])
shortened = [country[-2:] for country in countries]
results["index"] = shortened

In [62]:
results

  index     30
0    US  127.0
1    MX   21.0
2    CA    4.0
3    PH    3.0
4    TW    2.0